<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en" > <!--<![endif]--> 

    <head>

        <title>teste</title>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="4Tm2ZPRBKI8g1uSYzNSLcRPniZr0ZB-PJAOnU-Glshc" />
        <meta name="msvalidate.01" content="A46E7B6BA16D68E9F871752AAB51389E" />
        <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

        <!-- smart app link -->        
        <meta name="apple-itunes-app" content="app-id=894101166"/>
        <meta name="google-play-app" content="app-id=com.skaphandrus.oceanlifeid">

    </head>

    <body>
        teste
    </body>

</html>
