{% extends 'FOSMessageBundle::layout.html.twig' %}

{% trans_default_domain 'FOSMessageBundle' %}

{% block heading_title %}{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}{% endblock %}

{% block body %}
<div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                {% include 'FOSMessageBundle::_sidebar.html.twig' %}
            </div>
            <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">
                {% include 'FOSMessageBundle::_search.html.twig' %}
                <h2>{% trans from 'FOSMessageBundle' %}deleted{% endtrans %} ({{ threads|length }})</h2>
                {% include 'FOSMessageBundle::_tools.html.twig' %}
            </div>
                <div class="mail-box">
                  {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads, 'page': 'deleted'} %}
                </div>
            </div>
        </div>
        </div>
{% endblock %}

