/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 22, 2015, 2:51:02 PM
    Author     : Luis Miguens <luis.miguens@skaphandrus.com>
*/

.a2lix_translationsFields{
    padding-top:10px!important;
}


.ui-autocomplete-loading {
    background: white url("http://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif") right center no-repeat;
}

label.required:before {
    content: "* ";
    color: red;
}