.navbar-top-links li:hover{
    background-color: white;
}
#map-canvas{
    width:auto;
    height:300px;
}
#sports_list_more{
    display: none; 
}
.contact-box.center-version.small_version > a{
    padding: 5px; 
}
.contact-box.center-version.small_version > a img{
    margin-top: 0; 
    margin-bottom: 0; 
    width: 60px; 
    height: 60px; 
}
.contact-box.center-version.small_version > a h3{
    font-size: 12px; 
}
.contact-box.center-version.small_version > a .box_spacer{
    padding-top: 30px; 
    padding-bottom: 30px; 
}
.legenda_foto{
    font-size: 10px; 
    position: relative; 
}
.legenda_foto i{
    position: absolute; 
    right: 2px; 
    top: 2px; 
    font-size: 15px; 
}
.margin-top-menu{
    margin-top: 50px; 
}
.top-menu{
    width: 100%; 
    max-width: 1300px;  
    top: 0; 
    z-index: 10000; 
}
.slick-slide{
    margin: 5px; 
}
.form_sidebar{
    width: 100%; 
    max-width: 363px; 
}
.lista_slides_concurso .slick-current{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);
}
.dont_hide_border{
    padding: 11px 5px; 
}
.slider_people .slick-slide{
    margin: 1px; 
}
.grid-sizer,
.grid-item { width: 20%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }
.wrapper_visual_id{
    position: relative; 
}
.wrapper_visual_id .feature{
    position: absolute; 
    left: 10px;
    top: 10px; 
    background-color: rgba(0,0,0,0.6); 
    padding: 5px; 
    color: #FFFFFF; 
}
.wrapper_visual_id .feature_icone{
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
    font-size: 20px; 
}
.wrapper_visual_id .true{
    color: #1ab394; 
}
.wrapper_visual_id .false{
    color: #f00; 
}
.overly{
    background-color : rgba(0,0,0,.2); 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
}
#top-search{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    margin: 0 5px;
    z-index: 2000;
    padding: 0; 
    width: 60px;
    height: 48px; 

}
.button_side{
    margin : 13px auto; 
    font-size : 20px;
    font-weight : bold; 
}
.side_contests .slick-slider{
    margin: 0; 
}
body.canvas-menu.mini-navbar nav.navbar-static-side{
    width: 260px; 
}
.project-people {
    margin: 0; 
}
.species_photos_wrapper{
    position: relative; 
}
.species_photos_wrapper .see_all{
    position: absolute; 
    bottom: 5px;
    right: 0px; 
} 
.species_photos_wrapper .see_all > a {
    padding: 5px; 
    background-color: rgba(0,0,0,0.3); 
    color: #FFFFFF; 
}

@media (min-width: 767px) {
    .contact-box.center-version.small_version > a .box_spacer_right{
        padding-top: 10px; 
        padding-bottom: 10px; 
    }   
}
@media (max-width: 980px){
    .navbar-header {
        width: 100%; 
    }
    .affix{
        position: static; 
    }
    .form_sidebar{
        max-width: 100%; 
    }
}
