{% extends 'SkaphandrusAppBundle:FOSUserEmail:_base_register_app_template.html.twig' %}

{% block title %}
    Welcome, {{ username }}
{% endblock %}

{% block content %}

    <p> Thank you for downloading <a href="http://oceanlifeid.com/">Ocean Life ID</a> application and for registering in  <a href="http://skaphandrus.com/">Skaphandrus</a>. </p>

    <p>
        In Skaphandrus you can share your photos and get points to unlock the taxonomic groups of Ocean Life ID application.
    </p>

    <p>
        We hope that you will have a great experience on our site. 
    </p>

{% endblock %}

{% block link_text %}Complete your profile{% endblock %}

