{% extends 'SkaphandrusAppBundle:SkBooking:_base_booking_template.html.twig' %}

{% block title %}
    TITLE
{% endblock %}

{% block intro %}
    INTRO
{% endblock %}

{% block content %}
    CONTENT
{% endblock %}

{% block action %}
    <a href="https://skaphandrus.com" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #1ab394; margin: 0; padding: 0; border-color: #1ab394; border-style: solid; border-width: 5px 10px;">
        Skaphandrus.com
    </a>
{% endblock %}

