{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block body %}
    <div class="middle-box text-center animated fadeInDown">
        <h1>403</h1>
        <h3 class="font-bold">Unauthorised access!</h3>

        <div class="error-desc">
            Sorry, you don’t have access to this page<br/>
            You can go back to main page: <br/><a href="{{ path('index') }}" class="btn btn-primary m-t">Go to Homepage</a>
        </div>
    </div>
{% endblock %}
