{# empty Twig template #}
   



<div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <a class="btn btn-white" href="{{ path(admin_route) }}"> {{ "form.common.btn.back_to_list"|trans }}</a>
            
            
            
            <button type="submit" class="btn btn-primary">{{ "form.common.btn.save_changes"|trans }}</button>
        </div>
    </div>