{# empty Twig template #}
                <div class="wrapper wrapper-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <style>
                                            ins.adsbygoogle { background: transparent !important; }
                                </style>

                                {#<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-6251060861215295"
                                     data-ad-slot="4238938930"
                                     data-ad-format="auto"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>

                
                
