{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block body %}
  <h1> {{ node }} : {{ taxon.name }}!</h1>

  <h2>common names</h2>
  <ul>
      {% if vernaculars is not empty %}
        <h2>{{ "common_names"|trans }}</h2>
        {% for vernacular in vernaculars %}
            <p>{{ vernacular.name ~ " - " ~ vernacular.language }}</p>
        {% endfor %}
      {% endif %}
  </ul>
{% endblock %}

