<div class="isotope-board">
    {% for photo in photos %}
        <div class="board-item">
            <div class="img-container">
                <a href="/{{ photo.webPath }} }}">
                    <img src="/{{ photo.webPath }}" alt="{{ photo.title }}">
                </a>
            </div>
        </div>
    {% endfor %}
</div>
