{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block body %}
  <h2> {{ node }} : {{ taxon.name }}!</h2>

  {% if taxon.vernaculars is not empty %}
    <h3>{{ "common_names"|trans }}</h3>
    {% for vernacular in taxon.vernaculars %}
        <p>{{ vernacular.name ~ " - " ~ intl_locale_name(vernacular.locale) }}</p>
    {% endfor %}
  {% endif %}
{% endblock %}

