{% extends 'SkaphandrusAppBundle::content_index_layout.html.twig' %}

{% block body %}

     {% for photo in photos %}
        <a href="{{ url_to_photo(photo) }}" title="{{ photo.title }}" >
            <img alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('new_sk_thumbnail_outbound_100') }}" />
        </a>
    {% endfor %}

{% endblock %}

