<div class="mail-tools tooltip-demo m-t-md">
    <!-- <div class="btn-group pull-right">
        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
    </div> -->
    <a href="" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="{{ "page.messages.btn.refresh"|trans }}"><i class="fa fa-refresh"></i> {{ "page.messages.btn.refresh"|trans }}</a>
    <!-- <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i> </button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button> -->
</div>
